In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('../data/tv_series.csv')

In [3]:
df

,title,year,cast,rating,genre
0,Power Rangers Operation Overdrive,2007.0,"James Beaufort, Caitlin Murphy, Samuell Benta,...",5.4,"Action, Adventure, Sci-Fi"
1,The South Westerlies,2020.0,"Orla Brady, Eileen Walsh, Steve Wall, Ger Ryan",6.0,Drama
2,Matthew Gray Gubler: The Unauthorized Documentary,2006.0,"Matthew Gray Gubler, Andy Swan, A.J. Cook, Pag...",9.3,"Short, Comedy"
3,All In,2003.0,"Song Hye-kyo, Lee Byung-hun, Ji Sung, Jeong-wo...",7.8,"Action, Drama, Romance"
4,Billy the Exterminator,2009.0,"Billy Bretherton, Rick Bretherton, Donnie Bret...",6.1,Reality-TV
...,...,...,...,...,...
40094,Kian and JC Show,2014.0,"David Alvarez, Franny Arrieta, Colby Brock, J....",NaN,Comedy
40095,Keeping It 100,2016.0,"Atheana Ritchie, Storie Blake, Andrew Dubitsky...",7.1,"Short, Comedy"
40096,Apradhi Kaun,2006.0,"Ashutosh Rana, Lata Sabharwal, Ajay Trehan, Sa...",NaN,Crime
40097,Betty Toons,2002.0,"Alejandra Borrero, Alberto León Jaramillo, And...",6.7,Animation
40098,Kuuchuu Buranko,2009.0,"Romi Park, Yûji Mitsuya, Yumi Sugimoto, Kenji ...",7.4,"Animation, Comedy, Drama"

In [4]:
df.isnull().sum()

title        0
year      1332
cast      1101
rating    4136
genre        0
dtype: int64

In [5]:
df.dropna(how='any',inplace=True)

In [6]:
df.isnull().sum()

title     0
year      0
cast      0
rating    0
genre     0
dtype: int64

In [7]:
def actor_1(x):
    if x.split(',')[0]: 
        return x.split(',')[0].strip(' ')
    else:
        return 'unknown'

In [8]:
df['actor_1'] = df['cast'].apply(lambda x: actor_1(x))

In [9]:
df

,title,year,cast,rating,genre,actor_1
0,Power Rangers Operation Overdrive,2007.0,"James Beaufort, Caitlin Murphy, Samuell Benta,...",5.4,"Action, Adventure, Sci-Fi",James Beaufort
1,The South Westerlies,2020.0,"Orla Brady, Eileen Walsh, Steve Wall, Ger Ryan",6.0,Drama,Orla Brady
2,Matthew Gray Gubler: The Unauthorized Documentary,2006.0,"Matthew Gray Gubler, Andy Swan, A.J. Cook, Pag...",9.3,"Short, Comedy",Matthew Gray Gubler
3,All In,2003.0,"Song Hye-kyo, Lee Byung-hun, Ji Sung, Jeong-wo...",7.8,"Action, Drama, Romance",Song Hye-kyo
4,Billy the Exterminator,2009.0,"Billy Bretherton, Rick Bretherton, Donnie Bret...",6.1,Reality-TV,Billy Bretherton
...,...,...,...,...,...,...
40092,¿Vieja yo?,2008.0,"Marjorie De Sousa, Laureano Olivarez, Jean Car...",8.2,Romance,Marjorie De Sousa
40093,Ijon Tichy: Raumpilot,2007.0,"Oliver Jahn, Nora Tschirner, Peter Princz, Jan...",7.6,"Comedy, Sci-Fi",Oliver Jahn
40095,Keeping It 100,2016.0,"Atheana Ritchie, Storie Blake, Andrew Dubitsky...",7.1,"Short, Comedy",Atheana Ritchie
40097,Betty Toons,2002.0,"Alejandra Borrero, Alberto León Jaramillo, And...",6.7,Animation,Alejandra Borrero
40098,Kuuchuu Buranko,2009.0,"Romi Park, Yûji Mitsuya, Yumi Sugimoto, Kenji ...",7.4,"Animation, Comedy, Drama",Romi Park

In [10]:
def actor_2(x):
    if len(x.split(','))>1: 
        return x.split(',')[1].strip(' ')
    else:
        return 'unknown'

In [11]:
df['actor_2'] = df['cast'].apply(lambda x: actor_2(x))

In [12]:
def actor_3(x):
    if len(x.split(','))>2: 
        return x.split(',')[2].strip(' ')
    else:
        return 'unknown'

In [13]:
df['actor_3'] = df['cast'].apply(lambda x: actor_3(x))

In [14]:
def actor_4(x):
    if len(x.split(','))>3: 
        return x.split(',')[3].strip(' ')
    else:
        return 'unknown'

In [15]:
df['actor_4'] = df['cast'].apply(lambda x: actor_4(x))

In [16]:
df.drop(['cast'],axis=1,inplace=True)

In [17]:
def genre(x):
    data = x.split(',')
    each_data = []
    for each in data:
        each_data.append(each.strip(' '))
    get_data = ' '.join(each_data)
    return get_data

In [18]:
df['genre'] = df['genre'].apply(lambda x: genre(x))

In [19]:
df['comb'] = df['actor_1']+' '+df['actor_2']+' '+df['actor_3']+' '+df['actor_4']+' '+df['genre']

In [20]:
df['title'] = df['title'].str.lower()

In [21]:
df.isnull().sum()

title      0
year       0
rating     0
genre      0
actor_1    0
actor_2    0
actor_3    0
actor_4    0
comb       0
dtype: int64

In [22]:
df.duplicated().sum()

0

In [23]:
def title_cleaning(x):
    if ":" in x:
        return x.split(":")[0].strip(' ')
    else:
        return x

In [24]:
df['title'] = df['title'].apply(lambda x:title_cleaning(x))

In [25]:
df['title']

0        power rangers operation overdrive
1                     the south westerlies
2                      matthew gray gubler
3                                   all in
4                   billy the exterminator
                       ...
40092                           ¿vieja yo?
40093                           ijon tichy
40095                       keeping it 100
40097                          betty toons
40098                      kuuchuu buranko
Name: title, Length: 35439, dtype: object

In [26]:
df[(df['year']>=2021.0) & (df['year']<=2023.0)]
random_sample_size = 5

In [27]:
df.sample(n=random_sample_size, random_state=4)

,title,year,rating,genre,actor_1,actor_2,actor_3,actor_4,comb
19452,t.bag and the revenge of the t.set,1989.0,8.2,Fantasy,Elizabeth Estensen,John Hasler,Kellie Bright,Jan Holden,Elizabeth Estensen John Hasler Kellie Bright J...
6793,cousin skeeter,1998.0,6.8,Comedy Family,Rondell Sheridan,Angela Means,Meagan Good,Robert Ri'chard,Rondell Sheridan Angela Means Meagan Good Robe...
19908,choccywoccydoodah,2011.0,7.3,Documentary,Christine Taylor,Dave Ratcliffe,Tom Robertson,Whoopi Goldberg,Christine Taylor Dave Ratcliffe Tom Robertson ...
34692,yo yogi!,1991.0,5.0,Animation Adventure Comedy,Greg Burson,Don Messick,Rob Paulsen,Kath Soucie,Greg Burson Don Messick Rob Paulsen Kath Souci...
21231,short adam,2021.0,9.2,Comedy Drama,Adam Lopez,Kristin Elliott,Celia Imrie,Bruce Thomas,Adam Lopez Kristin Elliott Celia Imrie Bruce T...

In [31]:
combination = list(df['comb'])

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfv = TfidfVectorizer(min_df=3,  max_features=None,
            strip_accents='unicode', analyzer='word',token_pattern=r'\w{1,}',
            ngram_range=(1, 3),
            stop_words = 'english')

In [34]:
tfv = TfidfVectorizer()

In [ ]:
# Fitting the TF-IDF on the 'overview' text
tfv_matrix = tfv.fit_transform(df['comb'])
print(tfv_matrix)
print(tfv_matrix.shape)

In [ ]:
# Import linear_kernel
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfv_matrix, tfv_matrix)

In [50]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

# Calculate cosine similarity matrix
features = df[['rating', 'year']].sample(20000,random_state=42)  # Use the features you want for similarity calculation
similarity_matrix = cosine_similarity(features)

In [52]:
target_title = 'college romance'
target_index = df[df['title'] == target_title].index[0]
similar_indices = similarity_matrix[target_index].argsort()[-5:-1][::-1]  # Get top 5 similar indices
# Display recommended shows
recommended_shows = df.iloc[similar_indices]
print(recommended_shows[['title']])

                  title
20318             s.c.i
1497   remington steele
11178     barely famous
18646  17.3 about a sex